@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    margin: 0px;
    padding: 0px;
}

.bg-1 {
    background-color: #24255d;
    color: #fff2c7;
    font-family: 'Montserrat', sans-serif;
}

.bg-2 {
    background-color: #fff2c7;
    color: #24255d;
    font-family: 'Montserrat', sans-serif;
}

.bg-3 {
    background: radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px;
    color: #fff2c7;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 3px 2px black;
}

main {
    margin-bottom: 50px;
}

h1, h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.column {
    padding: 10px;
}

article.bio {
    margin: 0px;
    height: 100px;
    background-color: ivory;
    color: #24255d;
    border: 1px solid black;
    border-radius: 3px;
}

.bio-icon, .bio-details {
    height: 100px;
    display: inline-block;
    vertical-align: bottom;
}

.bio-icon {
    padding: 10px 0 10px 10px;
}

.bio-details {
    padding: 10px 10px 10px 0;
}

.bio-icon > i.fa {
    font-size: 26px;
}

.contacts > i.fa {
    padding: 25px;
    font-size: 100px;
    color: #24255d;
}

.spacebefore::before {
    content: " ";
}