@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%
}

body {
    font: 18px Montserrat, sans-serif;
}

p {
    font-size: 16px;
}

.bg-1 {
    background-color: #fff2c7;
}

.bg-2 {
    background-color: #24255d;
    color: #ffffff;
}

.bg-3 {
    background-color: #2f2f2f;
    color: #ffffff;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    height: 45px;
    vertical-align: top;
}

.navbar-nav li a:hover {
    color: ivory !important;
}


.modal-content {
    background-color: #24255d;
    color: #ffffff;
}

#aboutme {
    margin-top:45px;
}

article.bio {
    width: 300px;
    text-align: left;
    background-color: ivory;
    border: 1px solid #24255d;
    border-radius: 3px;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    display: inline-flex;
}

a {
    text-decoration: none;
}

h1 {
    padding: 2px;
    font-size: 18px;
}

h2 {
    padding: 2px;
    font-size: 16px;
}

h3 {
    padding: 2px;
    font-size: 14px;
    font-weight: bold;
}


.bio-details > ul > li {
    list-style: none
}

.bio-details > ul > li > a, .bio-details > p  {
    font-size: 12px;
}

p {
    padding: 2px;
    font-size: 12px;
}

.spacebefore::before {
    content: " ";
}

h3#personal::before {
    font-family: FontAwesome, serif;
    margin-right: 5px;
    font-size: 20px;
    content: "\f183";
}

h3#residence::before {
    font-family: FontAwesome, serif;
    margin-right: 5px;
    font-size: 20px;
    content: "\f015";
}

h3#education::before {
    font-family: FontAwesome, serif;
    margin-right: 5px;
    font-size: 20px;
    content: "\f19d";
}

h3#occupation::before {
    font-family: FontAwesome, serif;
    margin-right: 5px;
    font-size: 20px;
    content: "\f0b1";
}

h3#likes::before {
    font-family: FontAwesome, serif;
    margin-right: 5px;
    font-size: 20px;
    content: "\f087";
}

h3#dislikes::before {
    font-family: FontAwesome, serif;
    margin-right: 5px;
    font-size: 20px;
    content: "\f088";
}

h3#music::before {
    font-family: FontAwesome, serif;
    margin-right: 5px;
    font-size: 20px;
    content: "\f001";
}

h3#sports::before {
    font-family: FontAwesome, serif;
    margin-right: 5px;
    font-size: 20px;
    content: "\f1e3";
}

.fa {
    display: inline-block;
    margin-left: 45px;
}

footer {
    bottom: 0;
    padding: 10px 0 10px 0;
}
